- 사용자로부터 어떤 값을 받고, 해당 값을 한화 (*한국돈)으로 바꿔서 출력되도록 해주세요
- ex. 100 -> 환율 1112원 // 1112000원으로 출력되도록 해주세요

In [18]:
# 수학 -> math X
# 수학능력평가시험 -> 수학 -> 논리적사고
# 해결하고싶은 것을 말로 표현 -> 국어

# 1. 사용자에게 값을 받는다
# -> input)(), int()

# 2. 사전에 환율을 정의해서 특정 변수에 할당해놓는다
# 변수정의만 알면 됨

# 3. 사용자에게 받은 값을 사전에 정의해놓은 환율과 계산한다
# 연산자만 알면 됨

# 4. 사용자의 값과 환율을 계산한 그 결과값을 출력한다
# print()

price = input("환전하고 싶은 달러를 입력해주세요. ex)100달러")
exchange = 1112

dollar = int(price.replace("달러", "")) #"" 빈문자(달러 제거), " " 빈 여백
result = dollar * exchange

print(f"{result:,}원")  # :, (천단위에서 ,로 끊기)

환전하고 싶은 달러를 입력해주세요. ex)100달러 1달러

1,112원

- 달러의 환율을 1112원 설정, 위안화의 환율 171원, 엔화 1010원 설정하되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의하고 사용자가 달러 혹은 엔화 혹은 위안화 값을 입력했을 때 해당 값을 한화로 출력될 수 있도록 해주세요
  (ex. 100달러 -> 111,200원 // 100위안 -> 17,100원

In [43]:
exchange_list = {"달러" : 1112, "위안" : 171, "엔" : 1010}
user_money = input("환전하고 싶은 금액 입력 : ")
# 100달러

if user_money[-2:] == "달러" : #달러
    print(f"{exchange_list['달러'] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "위안" :
    print(f"{exchange_list['위안'] * int(user_money[:-2]):,}원")
elif user_money[-1:] == "엔" :
    print(f"{exchange_list['엔'] * int(user_money[:-2]):,}원")
else :
    print("달러, 위안, 엔 중 하나를 입력해주세요")

환전하고 싶은 금액 입력 :  100엔

10,100원

In [50]:
# 1. 2~9단까지 -> 2부터 9까지 반복순회 
# 2. 피연산자로 1부터 9까지 반복순회 2*1 = 2
# 3. 2단 이후 공백
# 중첩 for문

for num01 in range(2, 10) :
    print("------------")
    print(f"-구구단 {num01}단-")
    print("------------")
    for num02 in range(1, 10) :
        print(f"{num01} X {num02} = {num01 * num02}")
    print("\n")

------------
-구구단 2단-
------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


------------
-구구단 3단-
------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27


------------
-구구단 4단-
------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


------------
-구구단 5단-
------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45


------------
-구구단 6단-
------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


------------
-구구단 7단-
------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63


------------
-구구단 8단-
------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


------------
-구구단 9단-
------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- 위에서 작성한 코드를 활용해서 다음과 같은 결과를 출력해주세요 구구단 2~9단까지 출력하되, 계산된 결과값이 짝수인 경우만 출력해주세요 ex) 3x3=9이기 때문에 출력되면 안됨 2x4=8이기 때문에 출력되어야함

In [55]:
for num01 in range(2, 10) :
    print("------------")
    print(f"-구구단 {num01}단-")
    print("------------")
    for num02 in range(1, 10) :
        if (num01 * num02) % 2 ==0 :
            print(f"{num01} X {num02} = {num01 * num02}")
    print("\n")

------------
-구구단 2단-
------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


------------
-구구단 3단-
------------
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24


------------
-구구단 4단-
------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


------------
-구구단 5단-
------------
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40


------------
-구구단 6단-
------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


------------
-구구단 7단-
------------
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56


------------
-구구단 8단-
------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


------------
-구구단 9단-
------------
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

- dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

```
6209동 101호
6209동 102호
6209동 103호
6208동 101호
...

```

In [64]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]  #list -> 반복문

for dong in dongs :
    for ho in hos :
        print(dong, ho)
    print() #(|n) -> 두줄

6209동 101호
6209동 102호
6209동 103호
6209동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [69]:
tupledata = ("coding01", "coding02", "coding03")
# temp_list = list(tupledata)
#temp_list.append("coding04")
# result = tuple(temp_list)

# result

tuple(list(tupledata) + ["coding04"]) # list+list

('coding01', 'coding02', 'coding03', 'coding04')

- 딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요
```
enviroment : 환경 X
company : 회사 O
government : 정부 X
face : 얼굴 X
```

In [89]:
data = {
    "enviroment" : ["환경", "X"], 
    "company" : ["회사", "O"],  
    "government" : ["정부", "X"],  
    "face" : ["얼굴", "X"]
}
for item in data.keys() : 
   print(f"{item} : {data[item]}")

enviroment : ['환경', 'X']
company : ['회사', 'O']
government : ['정부', 'X']
face : ['얼굴', 'X']

- 사용자로부터 사전의 등록되어있는 단어들 중 1개를 입력받으세요 그러면 입력받은 단어의 경우, 외움표시 O 표시로 수정하고 아직 외우지못한 단어들만 출력하는 프로그램 코드를 작성해주세요

In [109]:
english = input("다 외운 단어 입력 : ")

if english in data.keys() : 
    data[english][1] = "O"
else : 
    print("사전에 존재하지않는 단어입니다")

for item in data.keys() : 
    data_list = data[item]
    if data_list[1] == "X" :
        print(item)

다 외운 단어 입력 :  face

- dict_all = {"enviroment" : "환경", "government" : "정부"}
- dict2 = {"company" : "회사", "face" : "얼굴"}
- dict3 = {"apple" : "사과"}
- dict_all 안에 dict2와 dicr3 값을 모두 넣어주세요 그리고 dict_all값을 출력해주세요

In [114]:
dict_all = {"enviroment" : "환경", "government" : "정부"}
dict2 = {"company" : "회사", "face" : "얼굴"}
dict3 = {"apple" : "사과"}

for item in dict2.keys() :
    dict_all[item] = dict2[item]
for item in dict3.keys() :
    dict_all[item] = dict3[item]
    
dict_all

{'enviroment': '환경',
 'government': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [123]:
number_list = {1, 2, 3}
number_list.remove(1)
number_list.add(4)
number_list.update([5,6]) # add : 값을 하나씩만 추가 / update : 이터러블한 객체인 리스트로 변경 후 복수 추가

number_list

{2, 3, 4, 5, 6}

- 임의의 숫자 2개를 사용자에게 받으면 해당 2개의 숫자를 곱한 값을 반환하는 함수를 만들고, 해당 함수의 결과값을 화면에 출력해주세요

In [139]:
# num01 = int(input("첫번째 숫자를 입력하세요"))
# num02 = int(input("첫번째 숫자를 입력하세요"))

num_all = [int(input("숫자를 입력하세요")) for _ in range(2)]

def f1 (num01, num02) :
    return num01 * num02

print(f1(num_all[0], num_all[1]))

숫자를 입력하세요 2
숫자를 입력하세요 4

8

- 인자값 3개를 받을 수 있는 함수를 호출합니다. 
- func1(인자값1, 인자값2, 인자값3)
- 해당 함수의 3번째 인자값 = 인자값3, + -> 첫번째 인자값과 두번째 인자값을 더한 결과값을 반환하도록 해주시고, 만약 3번째 인자값이 *라면, 첫번째 인자값과 두번쨰 인자값을 곱한 결과값을 반환해주세요. 그런데 만약 3번째 인자값이 +도 아니고 *도 아니라면 무조건 0이라는 값을 반환하도록 하는 함수를 만들어주세요.

In [144]:
def calc(data1, data2, way) :
    if way == "+" :
        return data1 + data2
    elif way == "*" :
        return data1 * data2
    else :
        return 0

data01 = calc(1,2,"+")
data02 = calc(3,4,"*")
data03 = calc(2,4,"-")
print(data01, data02, data03)

3 12 0