- 사용자로부터 점수를 입력받은 후 등급을 출력하세요
    - [A : 100 ~ 81 , B : 80 ~ 61 , C : 60 ~ 0]

In [10]:
user = int(input("몇 점인가요?"))

if user >= 81 and user <= 100 :
    print("A")
elif user >= 61 and user <= 80 :
    print("B")
elif user >= 0 and user <= 60 :
    print("C") 
else :
    print("잘못된 점수입니다")

몇 점인가요? 60

C

- 사용자로부터 주민등록번호를 입력받아서 출생연도만 확인 후 출력해주세요
    - 예) 981102 - 1234567 -> 98년생입니다

In [13]:
data = input("주민등록번호를 입력하세요")
age = data [0:2]

print(f" {age}년생")

주민등록번호를 입력하세요 98

 98년생

In [24]:
data = input("주민등록번호를 입력하세요") 
# age = data.split("-") #구분

print(f"{data.split("-")[0][0:2]} 년생")

주민등록번호를 입력하세요 981102-12345678

98 년생

- 사용자로부터 주민등록번호를 입력받아 성별을 "남성" 또는 "여성"으로 출력해주세요
    - 주민등록번호 뒷자리 첫번째 숫자가 "1" -> 남성, "2" -> 여성

In [31]:
data = input("주민등록번호를 입력하세요")

gender = data.split("-")[1][0]
if gender == 1 :
    print("남성")
else :
    print("여성")

주민등록번호를 입력하세요 981102-255555

여성

In [25]:
mystr = "a man goes into the room.."

result = mystr.strip(".")
result

'a man goes into the room'

In [3]:
code = "000770\n"
code.strip()

# strip() : 문자열 앞, 뒤 공백이라고 판단되는 문자열 모두 제거하는 메서드 함수(ex. tap, 줄바꿈)

'000770'

In [37]:
python_desc = "Installing Python is generally easy, and nowadays many Linux and UNIX distributions include a recent Python. Even some Windows computers (notably those from HP) now come with Python al"
print(python_desc.count("Python"))
python_desc.count("python")

3

0

- 사용자로부터 note라는 문자열을 받았다고 가정하세요. 그리고 해당 문자열 안에 n이 들어가있는지 확인 후 n이 들어가있으면 숫자 0을 출력하고, 그렇지 않다면 -1을 출력하세요

In [4]:
letters = input()

var = letters.find("a") 

var
# if var == 0 :
#    print(0)
# else :
#    print(-1)
# 존재하지 않는 문자열 출력 시 -1 나옴
# 일반적으로 프로그래밍언어는 true, false 
# 참인듯한 값, 거짓인듯한 값(truethy, falsy) -> 0, null, undefined -> falsy
# 파이썬 -> 0 -> truethy, -1 -> falsy

 aaarrr

0

- 사용자로부터 주민등록번호를 입력받은 후 사용자의 출생지가 어디인지 확인하고 출력해주세요
    - 주민등록번호 중 뒤에 8자리 중에서 첫번째 숫자가 성별을 의미하고 두번째 숫자부터 세번째 숫자까지가 출생지를 의미하는 숫자 "00 ~ 08:서울, 09 ~ 12:부산"

In [8]:
data = input("주민번호를 입력하세요")

print(data.split("-")[1][1:3])
if data >= 0 or data <= 8 : 
    print ("서울")
elif data >= 9 or data <= 12 :
    print ("부산")

주민번호를 입력하세요 981102-2124567

12

TypeError: '>=' not supported between instances of 'str' and 'int'

In [2]:
data = "981102-2124567"

location = int(data.split("-")[1][1:3])

if location >= 0 and location <= 8 :
    print ("서울")
elif location >= 9 and location <= 12 :
    print ("부산")

부산