#### 반복문
```
for in (리스트 || 문자열 -> 이터러블한 객체 속성을 가지고 있는 자료구조) :
    실행문
- ~을 반복해서 
while 조건 :
    실행문
- ~하는 동안에 (* 조건이 참인 동안에 계속 반복 실행)
 ```

In [11]:
lan = ["python", "TS", "Node"]

#for item in ["python", "TS", "Node"] :
#    print(item) 

for item in lan :
    print(item) 

# 반복해서 순차적으로 출력
# for = ~을 반복해서
#  lan안에 있는 리스트를 하나씩 item이란 이름으로 받아서 출력해라

python
TS
Node

In [12]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [20]:
for _ in range(1, 3) :   # 10번의 획수
    input("최애 음식은?")

최애 음식은? 1
최애 음식은? 2

In [28]:
data_list = ["list1", "list2", "list3"]

print(data_list[0])
print(data_list[1])
print(data_list[2])

for index in data_list :
    print(index)

list1
list2
list3
list1
list2
list3

In [36]:
sum = 0  # 전역변수

for index in range(1, 11) :
    # sum = sum + index
    # 복합대입연산자
    sum+=index

print(sum)

55

In [2]:
name = ""

while name != "foo" : 
    name = input("what is your name?")
    print(f"Hi~{name} 'where is foo?'")

what is your name? soobin

Hi~soobin 'where is foo?'

what is your name? foo

Hi~foo 'where is foo?'

- 1 ~ 10까지 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 활용해서 작성해주세요

In [11]:
sum = 0

for num in range(1, 11) :
    sum += num

print(sum)

55

- 사용자로부터 2 ~ 9 사이의 숫자를 입력받은 후 해당 숫자에 해단 구구단을 출력해주세요

In [22]:
# 1. 사용자에게 값을 받는다.
# 2. 사용자에게 받은 값을 변수에 넣고 해당 변수의 값을 가지고 반복적으로 1 ~ 9 까지 곱해준다
# 3. 1 ~ 9 까지 반복으로 곱해주기 위해서 반복문을 사용한다
# 4. 반복문을 사용하기 위해사 range(1, 10) 함수 및 인자값을 사용한다.

data = int(input("구구단을 위한 숫자를 입력해주세요"))

if data >= 2 and data <= 9 :
    for digit in range(1, 10) :  # 들여쓰기 중요
        print(f"{data} X {digit} = {data * digit}")
else :
    print("2~9사이의 숫자만 입력해주세요")

구구단을 위한 숫자를 입력해주세요 7

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

- name = "[Dave], [David], [Andy], [Juliet]
- 위 name변수 안에 담긴 값을 다음처럼 화면에 출력해주세요
Dave
David
Andy
Juliet

In [34]:
name = "[Dave],[David],[Andy],[Juliet]"

name01 = name.split(",")
for str_name in name01 :
    print(str_name[1:-1])

Dave
David
Andy
Juliet

- 1 ~ 30까지의 숫자 중 3의 배수만 출력해주세요 (while문을 활용해서 값을 도출하세요)

In [38]:
# 1부터 30까지의 숫자를 반복문을 활용해서 생성 및 찾아오기
# 찾아온 숫자 중 3의 배수를 찾는다 (나머지 0: 짝수, 나머지1 : 홀수) 3으로 나누었을 때 나머지 값이 0 -> % 사용

num = 0

while num < 30 :  # num이 0이여서 0,1,2 이렇게 가기 때문
    num += 1
    if num % 3 == 0 :
        print(num)

3
6
9
12
15
18
21
24
27
30

- 1 ~ 30까지의 숫자 중 3의 배수만 출력해주세요 (for문을 활용해서 값을 도출하세요)

In [40]:
for data in range(1,31) :
    if data % 3 == 0 :
        print(data)

3
6
9
12
15
18
21
24
27
30

- 다음 리스트 자료구조에서 음수값은 삭제하고 양수값만 가지고 있는 새로운 리스트 변수를 만들어서 출력해주세요
- num_list = [0,--11, 31, 22, -11, 33, -44, -45]

In [58]:
num_list = [0,-11, 31, 22, -11, 33, -44, -45]
new_list = list()

for item in num_list :
    if item >= 0 :
        new_list.append(item)
new_list

[0, 31, 22, 33]

- 아래 리스트에 있는 데이터들의 길이를 출력해주세요 (*단 1줄에 1개씩 구분해서 출력)
- list_data = ["Java", "C++", "Python", "Node"]
- 4
- 3
- 6
- 4

In [57]:
list_data = ["Java", "C++", "Python", "Node"]

for item in list_data :
    print(len(item))

4
3
6
4

- filelist = ["exercise01.docx", "exercise02.docx", "exercise03.docx", "exercise04.docx"]
```
exercise01
exercise02
exercise03
```

In [66]:
filelist = ["exercise01.docx", "exercise02.docx", "exercise03.docx", "exercise04.docx"]

for filename in filelist :
    print(filename.split(".")[0])

exercise01
exercise02
exercise03
exercise04

- filelist = ["exercise01.docx", "exercise02.csv", "exercise03.txt", "exercise04.hwp"]
- 확장자가 "txt"인 값만 출력

In [71]:
filelist = ["exercise01.docx", "exercise02.csv", "exercise03.txt", "exercise04.hwp"]

for filename in filelist :
    if filename.split(".")[1] == "txt" :
        print(filename)

exercise03.txt