In [48]:
import pymysql

db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    passwd="753951DnDn!!",
    db="ecommerce_v1",
    charset="utf8"
)

cursor = db.cursor()

create_sql = """
    CREATE TABLE IF NOT EXISTS product(
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2)
    );
"""
cursor.execute(create_sql)
db.commit()

for index in range(10):
    product_code = str(215673150 + index + 1)
    insert_sql = f"""
        INSERT INTO product VALUES (
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )
    """
    cursor.execute(insert_sql)

db.commit()

IntegrityError: (1062, "Duplicate entry '215673151' for key 'product.PRIMARY'")

In [49]:
cursor.execute("DELETE FROM product")
db.commit()

In [50]:
create_sql = """
    CREATE TABLE IF NOT EXISTS product(
        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2)
    );
"""
cursor.execute(create_sql)
db.commit()

# 테이블 초기화 (선택사항)
cursor.execute("DELETE FROM product")
db.commit()

for index in range(10):
    product_code = str(215673150 + index + 1)
    insert_sql = f"""
        INSERT INTO product VALUES (
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )
    """
    cursor.execute(insert_sql)

db.commit()

In [ ]:
# fethall() : 해당 테이블 내 모든 데이터를 가져옵니다
# fetchone() : 매칭되는 해당 값 중 첫번째 값을 가져옵니다
# > 이미 앞에서 먼저 찾아온 값이 존재한다면 해당 값 이후부터 값을 찾아옵니다
# fetchmany : 인자값으로 작성된 숫자만큼의 데이터를 가져옵니다

In [51]:
SQL = "SELECT * FROM product"
cursor.execute(SQL)
row = cursor.fetchone()
print(row)

('215673151', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [52]:
row = cursor.fetchone()
print(row)

('215673152', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [53]:
rows = cursor.fetchmany(2)
print(rows)

(('215673153', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673154', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [55]:
rowAll = cursor.fetchall()
for row in rowAll :
    print(row)

('215673155', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673156', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673157', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673158', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673159', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673160', '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [56]:
SQL = """
    UPDATE product SET
        TITLE = "썸머 가디건 코디전",
        ORI_PRICE = 33000,
        DISCOUNT_PRICE = 9900,
        DISCOUNT_PERCENT = 70
    WHERE PRODUCT_CODE = "215879160"
"""

In [57]:
cursor.execute(SQL)

0

In [58]:
db.commit()