In [2]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "753951DnDn!!",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [4]:
eccomercev1 = db.cursor()

In [5]:
eccomercev1

In [12]:
sql = """
    CREATE TABLE product(
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR (2)
    );
"""

In [13]:
sql

'\n    CREATE TABLE product(\n        PRODUCT_CODE VARCHAR(20) PRIMARY KEY NOT NULL,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOUNT_PRICE INT,\n        DISCOUNT_PERCENT INT,\n        DELIVERY VARCHAR (2)\n    );\n'

In [14]:
eccomercev1.execute(sql)

0

In [17]:
db.commit()

In [18]:
db.close()

In [19]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "753951DnDn!!",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [20]:
cursor = db.cursor()

In [24]:
for index in range(10) :
    product_code = 215673140 + index + 1
    SQL = f"""
        INSERT INTO product VALUSE(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )
    """
    print(SQL)

        INSERT INTO product VALUSE(
            '215673141',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673142',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673143',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673144',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673145',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673146',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673147',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673148',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673149',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUSE(
            '215673150',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )

In [22]:
db.commit()

In [23]:
db.close()