In [1]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python313\site-packages (1.1.1)

In [2]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "753951DnDn!!",
    db = "ecommerce",
    charset = "utf8"
)

In [3]:
ecommerce = db.cursor()

In [4]:
drop_sql = "DROP TABLE IF EXISTS product;"
ecommerce.execute(drop_sql)
db.commit()

sql = """ 
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(10)
    );
"""
ecommerce.execute(sql)
db.commit()

In [5]:
sql

' \n    CREATE TABLE product (\n        PRODUCT_CODE VARCHAR(20) NOT NULL PRIMARY KEY,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOUNT_PRICE INT,\n        DISCOUNT_PERCENT INT,\n        DELIVERY VARCHAR(10)\n    );\n'

In [6]:
cursor = db.cursor()

In [7]:
for index in range(10) :
    product_code = 215673140 + index + 1
    sql = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );
    """
    print(sql)
    cursor.execute(sql)

        INSERT INTO product VALUES(
            '215673141',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673142',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673143',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673144',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673145',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673146',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673147',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673148',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673149',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );


        INSERT INTO product VALUES(
            '215673150',
            '스위트바니 여름신상 5900원 ~ 롱원피스 티셔츠 / 긴팔 / 반팔',
            23000,
            6900,
            70,
            'T'
        );

In [9]:
db.commit()

In [10]:
db.close()