In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

seriesData = pd.Series([70, 60, 90])
seriesData

0    70
1    60
2    90
dtype: int64

In [5]:
import pandas as pd

df = pd.DataFrame({
    "미국" : [2.1, 2.2, 2.3],
    "한국" : [0.4, 0.5, 0.45],
    "중국" : [10, 13, 15],
})

df

    미국    한국  중국
0  2.1  0.40  10
1  2.2  0.50  13
2  2.3  0.45  15

In [6]:
import pandas as pd

seriesData = pd.Series([70, 60, 90], index=["국어", "영어", "수학"])
seriesData

국어    70
영어    60
수학    90
dtype: int64

In [7]:
seriesData.index

Index(['국어', '영어', '수학'], dtype='object')

In [8]:
seriesData.index = ["미술", "음악", "체육"]

In [9]:
seriesData

미술    70
음악    60
체육    90
dtype: int64

In [10]:
seriesData.values

array([70, 60, 90])

In [15]:
print(seriesData["미술"], seriesData.iloc[0])
print(seriesData["음악"], seriesData.iloc[1])

70 70
60 60

In [16]:
seriesData["미술"] = 80  # 재할당

In [17]:
print(seriesData["미술"], seriesData.iloc[0])

80 80

In [18]:
del seriesData["미술"]
seriesData

음악    60
체육    90
dtype: int64

In [19]:
seriesData02 = pd.Series(["Dave", "David", "Alex"])
seriesData02

0     Dave
1    David
2     Alex
dtype: object

In [20]:
seriesData03 = pd.Series(["Dave", "David", "Alex", 7])
seriesData03

0     Dave
1    David
2     Alex
3        7
dtype: object

In [22]:
seriesData04 = pd.Series([1, 1, 1])
seriesData04

0    1
1    1
2    1
dtype: int64

In [23]:
seriesData04.astype("float")

0    1.0
1    1.0
2    1.0
dtype: float64

In [24]:
seriesData05 = pd.Series([True, False, True])
seriesData05

0     True
1    False
2     True
dtype: bool

In [26]:
seriesData06 = pd.Series(["David", 1, 2])
seriesData06

0    David
1        1
2        2
dtype: object

In [27]:
seriesData06.astype("float")

ValueError: could not convert string to float: 'David'